body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Стилі для header */
header {
    background-color: #ff0000; /* Червоний колір */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

header img {
    max-width: 80px; /* Зменшуємо розмір логотипу */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    cursor: pointer;
    transition: color 0.3s;
}

nav ul li:hover {
    color: #000;
}

.registration {
    display: flex;
    gap: 10px;
}

.registration button {
    background-color: #000; /* Чорний колір */
    color: #ff0000; /* Червоний колір тексту */
    border: none;
    padding: 15px 30px; /* Збільшені кнопки */
    cursor: pointer;
    transition: background-color 0.3s;
}

.registration button:hover {
    background-color: #ffcc00; /* Золотий колір */
}

.language {
    margin-left: 20px;
    padding: 5px;
}

/* Стилі для main */
main {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.training {
    width: 65%;
    background-color: #ffcc00; /* Золотий колір */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.training .question {
    margin-bottom: 20px;
}

.training .container_image img {
    width: 40%; /* Зменшуємо розмір картинки */
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#button {
    display: flex;
    gap: 15px; /* Збільшуємо відстань між кнопками */
    justify-content: center; /* Центруємо кнопки */
}

#button button {
    background-color: #000; /* Чорний колір */
    color: #fff;
    border: none;
    padding: 15px 30px; /* Збільшені кнопки */
    cursor: pointer;
    transition: background-color 0.3s;
}

#button button:hover {
    background-color: #ffcc00; /* Золотий колір */
}

/* Стилі для aside */
aside {
    width: 30%; /* Збільшуємо ширину aside */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

aside .task {
    width: 100%;
    padding: 10px;
}